.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header ul li {
  list-style: none;
  display: inline-block;
  width: 80px;
}

.App-header ul li.active {
  color: white;
  background-color: blue;
}

aside {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

main {
  display: inline-block;
  width: 800px;
  vertical-align: top;
}

ul.ul-v {
  padding: 0;
  text-align: center;
  color: #333;
  background-color: #ccc;
}
ul.ul-v li {
  list-style: none;
}
ul.ul-v li.active {
  color: #ccc;
  background-color: #333;

}
