<!DOCTYPE html>
<html>
<head>
	<title>域名管理</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/domain_list.css">
	<link rel="stylesheet" type="text/css" href="css/dialog.css">
</head>
<body>
<div class="header">
	<div class="user_info">
		欢迎 <span class="name">admin</span>
	</div>
	<div class="fix">
		<div class="fix_pwd"><a href="#">修改密码</a></div>
		<div class="fix_register"><a href="#">注销登录</a></div>
	</div>
</div>
<div class="content">
	<div class="breadcrumb">
		<div class='bread'>
			<div class="bread_icon"></div>
			<span>域名管理</span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="menus">
		<ul>
			<li><a href="/domain_list" class="active">域名管理</a></li>
			<li><a href="/domain_search">域名申请</a></li>
			<li><a href="/register_log">申请信息</a></li>
			<li class="rline"><a href="system_log">日志信息</a></li>
		</ul>
	</div>
	<div class="main">
		<div class="toolbar">
			 <div class="del_btn">删除</div>
		</div>
		<div class="list">
			<dl>
				<dt class="th">
					<ul>
						<li class="col-1"><input type="checkbox"></li>
						<li class="col-2">域名名称</li>
						<li class="col-3">申请说明</li>
						<li class="col-4">审核说明</li>
						<li class="col-5">申请时间</li>
						<li class="col-5">审核时间</li>
					</ul>
				</dt>
				<dd class="row">
					<ul>
						<li class="col-1"><input type="checkbox"></li>
						<li class="col-2"><a href="">clond.zdns.cn</a></li>
						<li class="col-3">xxxxxxxx</li>
						<li class="col-4">xxxxxxxx</li>
						<li class="col-5">2016-12-21 16:30:09</li>
						<li class="col-6">2016-12-21 16:30:09</li>
					</ul>
				</dd>
				<dd class="row">
					<ul>
						<li class="col-1"><input type="checkbox"></li>
						<li class="col-2"><a href="">clond.zdns.cn</a></li>
						<li class="col-3">xxxxxxxx</li>
						<li class="col-4">xxxxxxxx</li>
						<li class="col-5">2016-12-21 16:30:09</li>
						<li class="col-6">2016-12-21 16:30:09</li>
					</ul>
				</dd>
				<dd class="row">
					<ul>
						<li class="col-1"><input type="checkbox"></li>
						<li class="col-2"><a href="">clond.zdns.cn</a></li>
						<li class="col-3">xxxxxxxx</li>
						<li class="col-4">xxxxxxxx</li>
						<li class="col-5">2016-12-21 16:30:09</li>
						<li class="col-6">2016-12-21 16:30:09</li>
					</ul>
				</dd>
								<dd class="row">
					<ul>
						<li class="col-1"><input type="checkbox"></li>
						<li class="col-2"><a href="">clond.zdns.cn</a></li>
						<li class="col-3">xxxxxxxx</li>
						<li class="col-4">xxxxxxxx</li>
						<li class="col-5">2016-12-21 16:30:09</li>
						<li class="col-6">2016-12-21 16:30:09</li>
					</ul>
				</dd>
								<dd class="row">
					<ul>
						<li class="col-1"><input type="checkbox"></li>
						<li class="col-2"><a href="">clond.zdns.cn</a></li>
						<li class="col-3">xxxxxxxx</li>
						<li class="col-4">xxxxxxxx</li>
						<li class="col-5">2016-12-21 16:30:09</li>
						<li class="col-6">2016-12-21 16:30:09</li>
					</ul>
				</dd>
								<dd class="row">
					<ul>
						<li class="col-1"><input type="checkbox"></li>
						<li class="col-2"><a href="">clond.zdns.cn</a></li>
						<li class="col-3">xxxxxxxx</li>
						<li class="col-4">xxxxxxxx</li>
						<li class="col-5">2016-12-21 16:30:09</li>
						<li class="col-6">2016-12-21 16:30:09</li>
					</ul>
				</dd>
								<dd class="row">
					<ul>
						<li class="col-1"><input type="checkbox"></li>
						<li class="col-2"><a href="">clond.zdns.cn</a></li>
						<li class="col-3">xxxxxxxx</li>
						<li class="col-4">xxxxxxxx</li>
						<li class="col-5">2016-12-21 16:30:09</li>
						<li class="col-6">2016-12-21 16:30:09</li>
					</ul>
				</dd>
								<dd class="row">
					<ul>
						<li class="col-1"><input type="checkbox"></li>
						<li class="col-2"><a href="">clond.zdns.cn</a></li>
						<li class="col-3">xxxxxxxx</li>
						<li class="col-4">xxxxxxxx</li>
						<li class="col-5">2016-12-21 16:30:09</li>
						<li class="col-6">2016-12-21 16:30:09</li>
					</ul>
				</dd>
				<dd class="row">
					<ul>
						<li class="col-1"><input type="checkbox"></li>
						<li class="col-2"><a href="">clond.zdns.cn</a></li>
						<li class="col-3">xxxxxxxx</li>
						<li class="col-4">xxxxxxxx</li>
						<li class="col-5">2016-12-21 16:30:09</li>
						<li class="col-6">2016-12-21 16:30:09</li>
					</ul>
				</dd>
				<dd class="row">
					<ul>
						<li class="col-1"><input type="checkbox"></li>
						<li class="col-2"><a href="">clond.zdns.cn</a></li>
						<li class="col-3">xxxxxxxx</li>
						<li class="col-4">xxxxxxxx</li>
						<li class="col-5">2016-12-21 16:30:09</li>
						<li class="col-6">2016-12-21 16:30:09</li>
					</ul>
				</dd>
				<dd class="row">
					<ul>
						<li class="col-1"><input type="checkbox"></li>
						<li class="col-2"><a href="">clond.zdns.cn</a></li>
						<li class="col-3">xxxxxxxx</li>
						<li class="col-4">xxxxxxxx</li>
						<li class="col-5">2016-12-21 16:30:09</li>
						<li class="col-6">2016-12-21 16:30:09</li>
					</ul>
				</dd>
				<dd class="row">
					<ul>
						<li class="col-1"><input type="checkbox"></li>
						<li class="col-2"><a href="">clond.zdns.cn</a></li>
						<li class="col-3">xxxxxxxx</li>
						<li class="col-4">xxxxxxxx</li>
						<li class="col-5">2016-12-21 16:30:09</li>
						<li class="col-6">2016-12-21 16:30:09</li>
					</ul>
				</dd>
								<dd class="row">
					<ul>
						<li class="col-1"><input type="checkbox"></li>
						<li class="col-2"><a href="">clond.zdns.cn</a></li>
						<li class="col-3">xxxxxxxx</li>
						<li class="col-4">xxxxxxxx</li>
						<li class="col-5">2016-12-21 16:30:09</li>
						<li class="col-6">2016-12-21 16:30:09</li>
					</ul>
				</dd>
			</dl>
		</div>
		<div>
			<ul class="page">
			    <li><a href="#">&laquo;</a></li>
			    <li class="active"><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li><a href="#">&raquo;</a></li>
			 </ul>
		</div>
	</div>
</div>
<div class="dialog del_info">
	<div class="dia_tit">信息</div>
	<div class="dia_content">
		<div class="info">
			<div class="info_tit">删除域或域名会联动删除记录值</div>
			<div class="info_tip">
				<div class="info_tip_tit">确定要删除:</div> 
				<ul>
					<li>baidu.com</li>
				</ul>
			</div> 
		</div>
	</div>
	<div class="dia_btn">
		<button type="button" class="cancel">取消</button>
		<button type="button" class="ok">确定</button>
	</div>
</div>
<div class="footer"></div>	
</body>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript"> 
	$('.user_info').click(function(){
		$('.fix').slideToggle(100)
	})
	$('.fix').mouseover(function(){
		$(this).show();
	})
	$('.fix').mouseout(function(){
		$(this).hide();
	})

// delete dialog
	$('.del_btn').click(function(){
		$('.del_info').show().css({
			left: '50%',
			'margin-left': -$('.del_info').width()/2+'px',
			'margin-top': ($(window).height()-$('.del_info').height())/2+'px'

		})
	})
	$('.ok').click(function(){
		$('.dialog').hide();
	})
	$('.cancel').click(function(){
		$('.dialog').hide();
	})
</script>
</html>